body {
	background-color: rgba(0, 0, 0, .2);
}

.innerBox {
	width: 100%;
	min-height: 300px;

	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);

	background-color: rgba(0, 0, 0, .1);
}

.p3 {
	padding: 0 3%;
}

.p3-1 {
	padding: 1% 3%;
}

.noMargin {
	margin: 0;
}

.flStart {
	float: left;
}

.img {
	border-radius: 5px 5px 0 0;
	position: relative;
	height: 350px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.desc {
	background-color: white;
	padding: 5%;
}

.desc span {
	font-size: .8em;
	color: rgba(0, 0, 0, .6);
}

.info {
	padding: 5% 5% 3% 5%;
	border-top: 1px solid rgba(0, 0, 0, .2);

	border-radius: 0 0 5px 5px;
	background-color: rgb(255, 255, 255);
}
.info span {
	line-height: 1.4em;
	font-size: .8em;

	display: block;
}

.sectorName {

}

.sectorStyle {
	font-weight: bold;
	color: rgba(0, 0, 0, .4);
}

.box ul {
	margin: 0;
	padding: 0;

	background-color: white;
}

.sideMenu li {
	width: 100%;

	margin: 0;
	padding: 5%;

	border-bottom: 1px solid rgba(0, 0, 0, :;);

	text-align: left;
	list-style: none;
}

#map {
	height: 100%;
	width: 100%;
}

.box {
	position: absolute;
	top: 50px;
	left: 30px;

	background: white;

	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.box ul li {
	list-style: none;

	padding: 10px;

	border-bottom: 1px solid rgba(0, 0, 0, .3);
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.box ul li a {
	color: rgba(0 ,0 ,0, .6);
	font-weight: bold;
	font-size: .8em;
}

.box ul li a:hover {
	color: rgba(0, 0, 0, 1);
}

.box li:first-child {
	border-top: none;
}

.box li:last-child {
	border-bottom: none;
}

#side-menu {
	z-index: 100;
}

.row {
	max-width: none;
}

.angular-google-map-container {
	height: 93.1%;
	width: 100%;
}

.map-info {
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 5px;
	padding: 1.5%;
	margin-top: 5%;
	background-color: rgba(255, 255, 255, .9);
	position: absolute;
	z-index: 100;
}

h1 {
	font-size: 1.6rem;
	line-height: 1.4;
}


.desc {
	height: 150px;
	padding: 5px;
}