<div>
	<h1>Ubicación</h1>
	<h5 class="subheader">Arrastre el marcador hacía la ubicación del sector</h5>
	<hr>

	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">lat</span>
		</div>
		<div class="small-9 large-10 columns">
			<input type="text" placeholder="{{form.coords.latitude}}">
		</div>
	</div>

	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">lng</span>
		</div>
		<div class="small-9 large-10 columns">
			<input type="text" placeholder="{{form.coords.longitude}}">
		</div>
	</div>

	<a ui-sref="new-sector.info" class="button radius small right bottom">Próximo paso ></a>
</div>